@model Book_Raven.Models.BookFormViewModel
@{
    ViewBag.Title = Model.Book == null? "New":"Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@(Model.Book == null? "ADD BOOK":"EDIT BOOK")</h2>

@using (Html.BeginForm("Save", "Books"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Book.Name)
        @Html.TextBoxFor(m => m.Book.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Book.PublisheDate)
        @Html.TextBoxFor(m => m.Book.PublisheDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Book.GenreId)
        @Html.DropDownListFor(m => m.Book.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Book.NumberInStock)
        @Html.TextBoxFor(m => m.Book.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Book.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

